{% extends 'home/base.html' %}
{% block assetfile %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}"/>
<script src="{% static 'js/cara.js' %}"></script>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock assetfile %}
{% block content %}
<div id="navbar">
<div class="logo"><h1>Dark Beautiful Reviews</h1></div>
<div class="items"></div>
</div>

<div id="cara"><div><h1 class="head">Dark Beautiful Reviews</h1></div><div class="title"><h3>Travis Scott: The Art of Rage</h3><div><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p></div>
<div class="row">
<div class="ellips" id="first"></div>
<div class="ellips" id="second"></div>
<div class="ellips" id="third"></div>
</div>

</div></div>

<div id="newsSection">
    <div class="headLine">
        <div id="headline-img"></div>
        <div class="headline-report">
            <div><h1>Lorem ipsum.</h1></div>
            <div><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p></div>
        </div>
    </div>
    <div id="row">
        <div>
            <div class="element"><div id="content"><div class="NewShot"></div><div id="show-t"><h3>Kanye West And His New Album</h3></div></div></div>
            <div class="element"><div id="content"><div class="NewShot"></div><div id="show-t"><h3>Travis Scott And His New Album </h3></div></div></div>
        </div>
        <div>
            <div class="element"><div id="content"><div class="NewShot"></div><div id="show-t"><h3>070 Shakes New Album is horrendous</h3></div></div></div>
    </div>
</div>

<u><h2 class="head" id="showHead" style="margin-top:50px">Shows</h2></u>
<div id="carousel">
<div class="element"><div id="content"><div class="NewShot"></div><div id="show-t"><h3>Kanye West</h3><p>JESUS IS KING</p></div></div></div>
<div class="element"><div id="content"><div class="NewShot"></div><div id="show-t"><h3>Kanye West</h3><p>JESUS IS KING</p></div></div></div>
<div class="element"><div id="content"><div class="NewShot"></div><div id="show-t"><h3>Kanye West</h3><p>JESUS IS KING</p></div></div></div>
<div class="element"><div id="content"><div class="NewShot"></div><div id="show-t"><h3>Kanye West</h3><p>JESUS IS KING</p></div></div></div>
</div>
<div id="reviewsSection">
<u><h2 class="head" id="reviewHead">Reviews</h2></u>
    <div id="reviews">
        <div class="review">
            <div id="alb-cov"></div>
            <div id="rev">
            <div id="creds"><h2>Astroworld</h2><h3>Travis Scott</h3></div>
            <p>Astroworld is the third studio album by American rapper and record producer Travis Scott. It was released on August 3, 2018, by Cactus Jack Records, Epic Records, and Grand Hustle Records.</p></div>
        </div>
         
    </div>
<div id="sub-reviews">
            <div class="small"></div>
            <div class="small"></div>
            <div class="small"></div>
    </div> 
   
</div>

{% endblock content %}